.answer{
    display:flex;
    flex-direction: row;
    width: 100%;


.answerSection.angel{
    margin-top: 2%;
}



.answerSection {
    position: relative;
    background:red;
    border-radius: .4em;
    margin-top: 15%;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;

    p{
        font-family: 'Suez One',serif;
        color:white;
        padding:10px;
    }
}

.answerSection:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: red;
    border-right: 0;
    border-top: 0;
    margin-top: -10px;
    margin-right: -20px;
}

}