.answer{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}


.answerSection {
    position: relative;
    background: #00aabb;
    border-radius: .4em;
    margin-top: 5%;
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
}

.answerSection:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: #00aabb;
    border-right: 0;
    border-top: 0;
    margin-top: -10px;
    margin-right: -20px;
}