button{
    background-color: white;
    border:3px solid darkgreen;
    color:black;
    font-family: 'Suez One',serif;
    text-transform: uppercase;
    box-shadow: 10px -2px black;
    height:80px;
    width:200px;
    border-radius: 40px;
    font-size:30px;
}

.choose {
    border: 1px solid red;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}