button{
    position: relative;
    background-color: white;
    border:3px solid black;
    color:black;
    font-family: 'Suez One',serif;
    text-transform: uppercase;
    box-shadow: 10px -2px red;
    height:80px;
    width:200px;
    border-radius: 40px;
    font-size:30px;
}
button:active{
    box-shadow: 3px 0 red;
    left:12px;

}

button:hover{
    color:white;
    background:darkgreen;
}

.choose {
    width: 65%;
    display: none;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.restart{
    display: none;
}

