.bottle{
    width:28%;
    img {
        max-width: 80%;
        width: 28%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        opacity: 0;
        animation-name: show;
        animation-delay: 4s;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }
    @keyframes show {
        to {
            opacity: 1;
        }
    }

    
}
