header{
    height:20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;

    h1{
        font-family: ketchup;
        color:tomato;
        text-transform: capitalize;
        font-size: 3rem;
    }
}