

header{
    max-width: 1600px;
    width:65%;
    display: flex;
    justify-content: center;
    padding: 2% 0;
    border: 5px solid black;
    border-radius: 40px;
    margin:1%;
    box-shadow: 18px -6px red;
    background: #F4D99D;
    flex-wrap: wrap;
    
    h1{
        font-family: ketchup;
        color: red;
        font-size: 3rem;
        margin-right:10px;
    }

}
