.item{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
    .randomItem{
        display: flex;
        flex-direction: row;
        border: 1px solid black;
        width: 60%;
        justify-content: space-around;
            h2{
            font-family: 'Major Mono Display', monospace;
            color:tomato;
            }

        
    }
}