article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  /* border: 1px solid black; */
}

html {
  font-size: 125%;
}

@font-face {
  font-family: 'ketchup';
  src: url("../fonts/Ketchup.otf");
  font-style: normal;
}

.svgItem {
  width: 45%;
  position: relative;
}

.bottle {
  width: 100%;
  height: 0;
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottle img {
  width: 100%;
  max-width: 100%;
  min-width: 300px;
  margin: auto;
  opacity: 0;
  -webkit-animation-name: show;
          animation-name: show;
  -webkit-animation-delay: 4.7s;
          animation-delay: 4.7s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  position: absolute;
}

@-webkit-keyframes show {
  to {
    opacity: 1;
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

main {
  max-width: 1300px;
  width: 100%;
  height: 50vh;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  max-width: 1200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .wrapper {
  max-width: 1000px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .5% 0;
}

header {
  max-width: 1600px;
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2% 0;
  border: 5px solid black;
  border-radius: 40px;
  margin: 1%;
  -webkit-box-shadow: 18px -6px red;
          box-shadow: 18px -6px red;
  background: #F4D99D;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header h1 {
  font-family: ketchup;
  color: red;
  font-size: 3rem;
  margin-right: 10px;
}

button {
  position: relative;
  background-color: white;
  border: 3px solid black;
  color: black;
  font-family: 'Suez One',serif;
  text-transform: uppercase;
  -webkit-box-shadow: 10px -2px red;
          box-shadow: 10px -2px red;
  height: 80px;
  width: 200px;
  border-radius: 40px;
  font-size: 30px;
}

button:active {
  -webkit-box-shadow: 3px 0 red;
          box-shadow: 3px 0 red;
  left: 12px;
}

button:hover {
  color: white;
  background: black;
  border: white;
}

.choose {
  width: 65%;
  display: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.restart {
  display: none;
}

.randomItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
}

.randomItem h2 {
  font-family: 'Suez One',serif;
  text-transform: uppercase;
  color: darkgreen;
  text-shadow: 3px 0px black;
  letter-spacing: 2px;
  padding: 1% 0;
}

.randomItem img {
  width: 90%;
}

.question {
  width: 50%;
  display: none;
}

.question img {
  width: 30%;
}

.question img:hover {
  cursor: pointer;
}

.question p {
  font-family: 'Suez One',serif;
  margin: 30px;
  border: 5px solid black;
  padding: 14px 9px;
  border-radius: 40px;
  text-align: center;
  width: 100%;
}

.answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.answer .answerSection.angel {
  margin-top: 2%;
}

.answer .answerSection {
  position: relative;
  background: red;
  border-radius: .4em;
  margin-top: 15%;
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.answer .answerSection p {
  font-family: 'Suez One',serif;
  color: white;
  padding: 10px;
}

.answer .answerSection:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: red;
  border-right: 0;
  border-top: 0;
  margin-top: -10px;
  margin-right: -20px;
}

footer {
  position: relative;
}

footer .footerText {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 900px) {
  header h1 {
    padding: 10px;
  }
  .bottle img {
    left: -34px;
  }
}

@media only screen and (max-width: 700px) {
  .image {
    display: none;
  }
  .question {
    width: 60%;
  }
  .answer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 650px) {
  header {
    margin-top: 20px;
  }
  section .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #Capa_1 {
    width: 300px;
  }
  .question {
    text-align: center;
    margin-top: 20px;
  }
  .question img {
    position: static;
  }
  .question p {
    text-align: center;
    margin: 0;
  }
  .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flex button {
    margin: 10px;
  }
}

@media only screen and (max-width: 400px) {
  header h1 {
    font-size: 2.3rem;
    margin-right: 10px;
    text-align: center;
    padding: 2px;
  }
  header button {
    width: 144px;
  }
  .svgItem {
    margin-right: 65px;
  }
  .question p {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=style.css.map */